//utils styles
@import './utils/_variables';

//base styles
@import './base/_hero';
@import './base/_benefits';
@import './base/_responsibilities';
@import './base/_our-team';
@import './base/_customers';
@import './base/_modal';
@import './base/_filtres_btns';
@import './base/_products';
@import './base/_menu';

//components styles
@import './components/_container-section';
@import './components/_reset';
@import './components/_grid';
@import './components/_properties-titles';
@import './components/_smoth-color-change';
@import './components/_header';
@import './components/_socials';
@import './components/_footer';




