.customers {
  padding: 0px 0;
}

.customers__list {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: var(--defoult-space-between);
}

.customers__item {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 92px;
  //phone screen
  @media screen and (max-width: 480px) {
    width: calc((100% - 60px) / 2);
  }
  //tablet screen
  @media screen and (min-width: 768px) {
    width: calc((100% - 30px) / 3);
  }

  //desktop screen
  @media screen and (min-width: 1200px) {
    max-width: 170px;
  }
}

.customers__href {
  color: #AFB1B8;
  border: 1px solid #AFB1B8;
  border-radius: 5px;
  width: 170px;
  height: 92px;
  display: flex;
  justify-content: center;
  align-items: center;

  &:hover,
  &:focus {
      color: var(--main-links-color);
      border-color: var(--main-links-color);
    }
}

.customers__svg {
  fill: currentColor;
}

